---
// Packages
import ImageAndText from '@/components/elements/ImageAndText.astro'
import PortableText from '@/components/elements/PortableText.astro'

// Components
import Container from '@/components/layout/Container.astro'
import Hero from '@/components/layout/Hero.astro'
import Section from '@/components/layout/Section.astro'
import Layout from '@/layouts/Layout.astro'

// Misc
import { home, settings } from '@/sanity/lib/utils'
---

<Layout settings={settings}>
	<Hero hero={home?.hero}>
		<Container>
			<PortableText portableText={home?.hero?.heroContent} />
		</Container>
	</Hero>

	<main id="main-content">
		<Section id="intro">
			<Container>
				<ImageAndText content={home?.content} class="items-center" />
			</Container>
		</Section>

		<Section
			id="services"
			class="bg-primary text-primary-foreground prose-headings:text-primary-foreground prose-strong:text-primary-foreground"
		>
			<Container>
				<div class="mx-auto max-w-3xl text-center">
					<h2>Comprehensive Electrical Solutions</h2>
					<p class="intro max-w-none text-center">
						Lenergy Services offers a wide range of electrical services designed to meet your needs
					</p>
				</div>
				<div class="prose-ul:grid prose-ul:md:grid-cols-2 prose-ul:gap-9 prose-ul:list-none">
					<PortableText portableText={home?.services} />
				</div>
			</Container>
		</Section>
	</main>
</Layout>
